# --- Ignorer les données confidentielles ---
*.txt
*.csv
*.xml
*.html

# --- Ignorer les dossiers générés par le script ---
Latitude*
Precision*
OptiPlex*
Vostro*
XPS*
Surface*
FRALW-*

# --- Ignorer l'exécutable et les binaires ---
*.exe
*.zip

# --- Ignorer les fichiers système/temporaires ---
*.tmp
*.log
.vscode/
Desktop.ini
Thumbs.db
